/*css file*/

/*Base css*/
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@font-face {
  font-family: '';
  src: ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnishaFree-Regular';
  src: url('AnishaFree-Regular.woff2') format('woff2'),
       url('AnishaFree-Regular.woff') format('woff'),
       url('AnishaFree-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
a:hover{text-decoration: none;}
img{
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin:0 0 15px;
	font-weight: 700;
   font-family: 'Vidaloka', serif;
}